.header {
    background-color: #fdfdfd;
    border-bottom: 1px solid rgb(203, 202, 202);
    
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 0 0 25px;
    gap: 40px;
    .header-logo{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .logo-name{
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #647410;
        margin: 0;
    }
    .project-name{
        margin: 0 0 0 20px;
        font-size: 2rem;
        font-weight: 500;
        color: rgb(0, 0, 0);
    }
    
  }
  .logo-img{
    width: 40px;
    height: 40px;
  }


  