
.sidebar {
    // background-color: #ffffff;
    // background-color: #94ad18;
    background-color: #596f07;
    color: white;
    width: 150px;
    padding: 20px;
    height: 100vh;
    nav ul {
      list-style: none;
      padding: 0;
    }
  
    nav li {
      margin-bottom: 10px;
      a {
        display: block;
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 10px;
        width: 100%;
        text-align: left;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
  
        &:hover {
          background-color: #555;
        }
      }
    }
  }
  